<h2>Product Details</h2>

<div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>
    <p *ngIf="product.stock < 1">
        <app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
    </p>
    <p *ngIf="product.stock > 0">
        <button (click)="addToCart(product)">Buy</button>
    </p>
</div>