<h1>Cart</h1>
<p>
    <a [routerLink]="['/shipping']">Shipping Prices</a>
</p>
<div class="cart-items" *ngFor="let item of items">
    <span>{{ item.name }} </span>
    <span>{{ item.price | currency }} </span>
</div>
