<h2>Product list</h2>
<div class="viewproduct">
<div *ngFor="let product of products; index as productId" class="products">
<div class="product-status">
    <span class="discount" *ngIf="product.discount > 0">On sale {{product.discount}} %</span>
    <span class="out-of-stock" *ngIf="product.stock < 1">out of stock</span>
</div>
<img src="../../assets/image/{{product.image}}" class="products-image">

    <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products',productId]" >
        {{ product.name }}
    </a>
</h3>
<p *ngIf="product.price">
 Price : {{product.price}}
<br> In stock : {{product.stock}}
</p>

<button *ngIf="product.stock > 0" (click)="addToCart(product)">Buy</button>
 
<a [title]="product.name + ' details'" [routerLink]="['/products',productId]" class="button">
    Details
</a>
<button (click)="share()">Share</button>
<app-product-alert [product]="product" (notify)="onNotify()"></app-product-alert>
 
   
</div>
</div>