*{
    color: #616161;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
}

router-outlet + * {
    padding: 0 16px;
    width: 100%;
}

h1{
    font-size: 32px;
}
h2{
    font-size: 20px;
}
h1,h2{
    font-weight: lighter;
}
p{
    font-size: 14px;
}
a{
    cursor: pointer;
    color: aqua;
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}
input{
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 0px;
    border-bottom: 2px salmon solid;
}

label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}
.button, button{
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: beige;
    border: none;
}

.viewproduct{
    padding-top: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    
    
}

.products{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding:20px;
    text-align: center;
    position: relative;
}
.product-status{
    font-size: 15px;
    position: absolute;
    top: 10px;
    right:10px;
    
    
}
.discount{
    background-color: rgb(187, 198, 221);
    color: rgb(4, 0, 255);
    border-radius: 5px;
    padding:5px;
    font-weight: bolder;
}
.out-of-stock{
    background-color: rgb(187, 198, 221);
    color: rgb(255, 0, 85);
    border-radius: 5px;
    padding:5px;
    font-weight: bolder;
}


.products-image{
    width: 20%;
}

.products:hover{
    background-color: rgba(169, 169, 169, 0.336);
    opacity: 0.8;
    
}

.button , button{
    margin: 5px;
}

.button:hover, button:hover{
    opacity: 0.8;
    font-weight: normal;
}

.button:disabled , button:disabled{
    opacity: 0.5;
    cursor: auto;
}

.fancy-button{
    background-color: rgb(53, 202, 7);
    color: #000000;
}

.fancy-button i.material-icons{
    color: rgb(0, 0, 0);
    padding-right: 4px;
}

app-top-bar{
    width: 100%;
    height: 68px;
    background-color: #007bff;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-top-bar h1{
    color: moccasin;
}

.cart-items, .shipping-items{
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #eeeeee;
}