<a [routerLink]="['/']">
<h1>Mobile Phone Store</h1>
</a>
<a [routerLink]="['/promotion']" class="button fancy-button">
    <i class="material-icons">home</i> Our Partner Promotion
</a>
<a [routerLink] ="['/cart']" class="button fancy-button">
<i class="material-icons">shopping_cart</i>CheckOut
</a>